<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">
<name>Calculadora de Fracciones</name>
<description>
Es una calculadora de fracciones útil.
</description>
<author href="https://example.com" email="yonicristhbl@hotmail.com">
Yonathan Barrantes
</author>
<preference name = " phonegap-version " value = " 3.6.0" />
<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
</widget>
